.sidebar_wrap {
    width: 250px;
    height: 100vh;
    font-family: var(--font-serif);
    background-color: #1D1D1D;
    position: sticky;
    top: 0;
}

.group_wrap {
    width: 200px;
    height: 54px;
    background: #e8e8e8;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 18px;
    margin: 30px auto
}

.group_image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.group_info {
    display: flex;
    flex-direction: column;
}

.group_label {
    font-size: 14px;
    color: #444;
}

.group_name {
    font-size: 22px;
    color: #111;
}

/* チャンネル */

.channel_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.channel_header {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.channel_title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 0 10px;
}

.tag_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 40px;
    text-align: left;
}

.tag_item {
    width: 100%;
    text-align: left;
    color: #757575;
    font-size: 18px;
    font-weight: 300;
}

.tag_item.active {
    color: #ffffff;
}

.add_button {
    width: 180px;
    height: 46px;
    position: fixed;
    bottom: 40px;
    left: 22px;
    border: none;
    border-radius: 66px;
    background: #b61414;
    color: white;
    font-size: 14px;
}
